* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  background-color: #264348;
  color: #fff;
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: #044f67;
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: #044f67;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: #044f67;
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

/* Add New Menu */

.search {
  padding: 5px;
  width: 200px;
}

.menutop {
  width: 70vw;
  height: 80vh;
  background-color: #044f67;
  padding: 5%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menutop::-webkit-scrollbar {
  display: none;
}

.imgu {
  background-color: deepskyblue;
  padding: 5px;
  width: 30vw;
  border-radius: 5px;
}

button {
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
}

.btnc {
  background-color: red;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.btnd {
  background-color: red;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.btne {
  background-color: limegreen;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.btns {
  background-color: rgb(0, 60, 255);
  border-radius: 5px;
  color: #fff;
  border: none;
}
